* {
    margin: 0;
    padding: 0;
}
/* 첫화면 */
#start {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    opacity: 1;
}

#start.hide {
    opacity: 0;
}

#start img {
    width: 300px;
    margin-top: 20px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 60px;
}

.start_box {
    width: 400px;
    height: 400px;
    background-color: white;
    margin: 200px auto;
    border-radius: 20px;
    position: relative;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.start_font {
    width: 400px;
    position: absolute;
    bottom: 100px;
    right: 50%;
    transform: translateX(50%);
    animation: fadeIn 1.2s ease;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(50%) translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateX(50%) translateY(0);
    }
}

#closeBtn {
    background: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    border: 2px solid black;
}
