*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --main: #000000;
    --sub: #007ACC;
    --sub2: #FFFFFF;
    --sub3: #181818;
    --hover: rgba(200, 200, 200, 0.3);
}

html, body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #000;
  color: #fff;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button, input, textarea, select {
  font: inherit;
  background: none;
  border: none;
}

a {
  color: #fff;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

/* ai 프리셋 */

.wrap {
    width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 70px;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: solid 1px var(--sub);
    background-color: #000;
    z-index: 999;
}

.header_inner {
    width: 1440px;
    height: 100%;;
    display: flex;   
    margin: 0 auto;
}

.logo {
    width: 60%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: left;
    border-right: solid 1px var(--sub);
    border-left: solid 1px var(--sub);
    display: flex;
    justify-content: center;
}

.logo img {
    width: 150px;
    height: 70px;
    object-fit: cover;
    cursor: pointer;
}

/* header_logo */

nav {
    width: 20%;
    height: 100%;
    display: flex;
}

nav > ul {
    width: 100%;
    text-align: center;
    line-height: 70px;
    border-left: solid 1px var(--sub);
    margin: 0 auto; 
    cursor: pointer;
    position: relative;
}

nav > ul > li > a {
    display: block;
}

nav > ul::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(200, 200, 200, 0.3);
    transform: translate(-50%, -50%);
    transition: 0.25s ease-in-out;
    pointer-events: none;
}

nav > ul:hover::after {
    width: 100%;
    height: 70px;
}

/* header_nav / menu */

.utill {
    width: 20%;
    height: 100%;
    display: flex; 
    align-items: center;
    gap: 15px;
    padding-left: 50px;
    
}

.utill button {
    cursor: pointer;
}

.login {
    width: 80px;
    height: 35px;
    background-color: var(--sub);
    font-weight: 600;
    font-size: 14px;
    transition: 0.1s ease-in-out;
}

.signup {
    width: 80px;
    height: 35px;
    font-weight: 600;
    border: 1px solid var(--sub);
    color: var(--sub);
    font-size: 14px;
    transition: 0.1s ease-in-out;
}

.login:hover {
    border: 1px solid var(--sub);
    color: var(--sub);
    background: none;
}

.signup:hover {
    background-color: var(--sub);
    color: #000;
}

/* utill */
/* header */

.slider {
    width: 100%;
    height: 480px;
    position: relative;
    background-color: #000;
}
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 70px;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.075;
}

.slider:hover .slide {
    animation-play-state: paused;
}

.slide:nth-child(1) {
    animation: fadeSlide1 10s infinite;
}
.slide:nth-child(2) {
    animation: fadeSlide2 10s infinite;
}
.slide:nth-child(3) {
    animation: fadeSlide3 10s infinite;
}

@keyframes fadeSlide1 {
    0% { opacity: 1; }
    30% { opacity: 1; }
    33.33% { opacity: 0; }
    96.66% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeSlide2 {
    0% { opacity: 0; }
    30% { opacity: 0; }
    33.33% { opacity: 1; }
    63.33% { opacity: 1; }
    66.66% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes fadeSlide3 {
    0% { opacity: 0; }
    63.33% { opacity: 0; }
    66.66% { opacity: 1; }
    96.66% { opacity: 1; }
    100% { opacity: 0; }
}

/* 슬라이더 animation */

.img_textbox {
    position: absolute;
    z-index: 10;
    width: 400px;
    height: 100px;
    background-color: rgba(30, 30, 30, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    right: 56%;
    top: 270px;
    border: solid 1px var(--sub);
}

/* slider_text */
/* slider */



